/* neumorphic design styles */
body {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 15px;
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
  margin-top: 20px;
}

.form .group label {
  font-size: 20px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -40px;
  left: 20px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  transition: all .3s ease;
}

.form .group input,
.form .group textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  outline: 0;
  width: 100%;
  /* background-color: #ffffff; */
  box-shadow: inset 5px 5px 5px #bebebe, inset -5px -5px 5px #ffffff;
}

.form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
  top: 20px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  box-shadow: inset 3px 3px 3px #bebebe, inset -3px -3px 3px #ffffff;
}

.form .group input:focus+ label, .form .group textarea:focus +label {
  top: -40px;
  left: 20px;
  background-color: #fffefe;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  box-shadow: none;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: #e0e0e0;
  color: #060606;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.form button:hover {
  background-color: #9bc4c7;
}

a.neu-link {
  display: inline-block;
  background-color: #e3e3e3;
  color: #060606;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
}

a.neu-link:hover {
  background-color: #9ba6c7;
  color: #ffffff;
}

.custom-container {
  min-height: 100vh;
}


.note-wall-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.note-wall-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.note {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
  flex: 1 0 auto;
}


.leave-note-text {
  text-align: center;
  margin-bottom: 1rem;
}

.random-note-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-note-btn-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
