<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit Show</title>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{session.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/shows" class="btn btn-primary">Dashboard</a>
            <a href="/new/show" class="btn btn-primary">Add new show</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>
    <form action="/update/show" method="post" class="col-6 p-5 my-5 bg-dark text-light mx-auto">
        <input type="hidden" name="user_id" value="{{session.user_id}}">
        <input type="hidden" name="id" value="{{show.id}}">
        <h2 class="text-primary">Edit this Show</h2>
        {% with title_messages = get_flashed_messages(category_filter=['title']) %}
            {% if title_messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Alert</strong>
                    {% for message in title_messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-between col-20">
            <div class="col-5">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" value="{{show.title}}" class="form-control">
                </div>


                {% with network_messages = get_flashed_messages(category_filter=['network']) %}
                {% if network_messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Alert</strong>
                        {% for message in network_messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

                <div class="form-group">
                    <label for="network">Network:</label>
                    <input name="network" value="{{show.network}}"  cols="30" rows="5" class="form-control"/>
                </div>


                {% with date_messages = get_flashed_messages(category_filter=['date']) %}
                {% if date_messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Alert</strong>
                        {% for message in date_messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}


                <div class="form-group">
                    <label for="pr">Release Date:</label>
                    <input name="release_date" value="{{show.release_date}}" cols="5" rows="1" class="form-control"/>
                </div>


                {% with desc_messages = get_flashed_messages(category_filter=['desc']) %}
                {% if desc_messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Alert</strong>
                        {% for message in desc_messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input name="description" value="{{show.description}}"  cols="30" rows="5" class="form-control"/>
                </div>
        
                <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>